div.container
  div.text-center
    h3 Weather Report
    small Enter Your City
  form#inputbox
    div.input-group
      input(type='text' class='form-control' name='q' placeholder='Search For...')
      span.input-group-btn
        input(type='submit' class='btn btn-primary' name='submit' value='Submit')
  div.container
  hr
  div#test
    span#temp
    span#degree
    span#toggle
      a <i class="fa fa-thermometer-full" aria-hidden="true"></i>
    div#icon
      i