div.container
  a(href='https://en.wikipedia.org/wiki/Special:Random').text-center
    h3 Get a Random Article
  form#inputbox
    div.input-group
      input(type='text' class='form-control' name='q' placeholder='Search For...')
      span.input-group-btn
        input(type='submit' class='btn btn-primary' name='submit' value='Submit')
  div.container
  hr
  div#test